:root{
  --first-color: #7B1F1F;
  --second-color: #D9D9D9;
  --text-color: #594B48;
  --menu-footer-color: #C0B29B;
  --layout-color: #F2EFE9;
  --btn-color: #CB6C6C;
  --card-color: #C38F8F;
  --font: serif;
  --heiht-header: 2rem;
}


/*Reset*/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1{
  margin: 0;
  font-size: 2rem;
}

h2{
  margin: 0;
  font-size: 1.25rem;
}

h3{
  margin: 0;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

a{
  text-decoration: none;
}

/*utils*/
.none{
  display: none;
}

.menu.display{
  opacity: 1;
  pointer-events: auto;
}

.btn{
  background-color: var(--btn-color);
  color: var(--first-color);
  font-size: 1.25rem;
  font-weight: bold;
  width: 151px;
  height: 36px;
  text-align: center;
  padding: 0.4rem;
  border-radius: 10px;
}

.section{
  background-color: var(--layout-color);
  width: 100%;
  min-height: 100vh;
}

.container{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.gray-scale{
  filter: grayscale(1);
}


/*Components*/
.card-skill{
  background-color: var(--card-color);
  color: var(--second-color);
  font-size: 2.2rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.img-card{
  border-radius: 50%;
  width: 83px;
  height: 83px;
  object-fit: cover;
}

.btn-skill{
  background-color: var(--text-color);
  color: var(--second-color);
  font-size: 0.8rem;
  width: 5rem;
  height: 2rem;
  padding: 0.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.card-contact{
  background-color: var(--second-color);
  width: 17rem;
  height: 4.7rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: left;
  gap: 1rem;

}

.card-contact svg{
  width: 1.5rem;
  height: 1.5rem;
  color: var(--first-color);
}

.card-contact h3{
  color: var(--text-color);
  font-weight: bold;
  text-align: left;
}

.card-contact p{
  color: var(--text-color);
  text-align: left;
}

.card-contact svg{
  font-size: 20px;
  color: var(--first-color);
}


.card-project{
  background-color: var(--second-color);
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  transition: all 0.5s ease;
}

.card-service{
  background-color: var(--second-color);
  padding: 1rem;
  width: 17.5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.form-contact{
  background-color: var(--second-color);
  width: 17rem;
  height: 23rem;
  padding: 1rem;

}

.img-redes{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  object-fit: cover;
}

.form-contact .input{
  background-color: var(--layout-color);
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 2rem;
  border: 0;
  outline: none;
}

.form-contact textarea{
  background-color: var(--layout-color);
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 11rem;
  border: 0;
  resize: none;
  outline: none;
}

.form-contact .input-btn{
  border: none;
}

.tittle{
  color: var(--text-color);
  width: 80%;
  padding: 1rem;
  font-size: 150%;
  text-align: center;
  border-bottom: 2px solid var(--first-color);
}



/*styles site*/

.about-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-info h1{
  font-weight: bold;
}

.about-info h2{
  font-weight: 300;
}

.about-info h1, .about-info h2{
  color: var(--text-color);
  text-align: center;
}

.about-info p{
  color: var(--text-color);
  text-align: justify;
}


.btn-menu{
  background-color: var(--menu-footer-color);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
}

.btn-menu svg{
  fill: var(--first-color);
  font-size: 1.25rem;
}

.container-about{
  flex-direction: column;
}

.container-btn-skills{
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2rem);
  justify-content: space-between;
  justify-items: center;
  gap: 1rem;
}


.card-container{
  background-color: transparent;
  display: flex;
  width: 700%;
  animation: slider 20s infinite alternate ease-in-out;
}

.container-contact{
  flex-direction: column;
  gap: 1rem;
}

.container-skills{
  width: 80vw;
  overflow-x: hidden;
  border-radius: 8px;
}


@keyframes slider{
  0%{margin-left: 0%;}
  10%{margin-left: 0%;}

  15%{margin-left: -100%;}
  25%{margin-left: -100%;}

  30%{margin-left: -200%;}
  40%{margin-left: -200%;}

  45%{margin-left: -300%;}
  55%{margin-left: -300%;}

  60%{margin-left: -400%;}
  70%{margin-left: -400%;}

  75%{margin-left: -500%;}
  85%{margin-left: -500%;}

  90%{margin-left: -600%;}
  100%{margin-left: -600%;}
}

.container-card-services{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.container-card-projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.card-project:hover{
  width: 14rem;
  height: 20rem;
  padding: 0.2rem;
  border-radius: 10px;
}

.card-project img{
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.card-project h3{
  color: var(--first-color);
}

.card-project a{
  color: var(--text-color);
  text-align: center;
}

.card-project p{
  color: var(--text-color);
  text-align: center;
}

.container-datos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-project{
  flex-direction: column;
}

.card-service h3{
  color: var(--first-color);
  text-align: center;
}

.card-service p{
  color: var(--text-color);
  text-align: justify;
}

.card-service img{
  width: 100%;
  height: 9.25rem;
}

.container-services{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer{
  background-color: var(--menu-footer-color);
  color: var(--first-color);
  width: 100%;
  height: 4.4rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.header{
  background-color: var(--menu-footer-color);
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100000;
}

.info-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.logo{
  height: auto;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.header h2, .header p{
  height: auto;
  font-weight: bold;
  color: var(--first-color);
}

.header p{
  font-size: 0.625rem;
}

.logo-git{
  width: 1.25rem;
  height: 1.25rem;
}

.logo-git img{
  border-radius: 50px;
}

.home{
  background-image: url(./assets/back/medicine-163707_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.home-container{
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-title{
  color: var(--second-color);
  font-size: 9vw;
  font-weight: bold;
  text-align: center;
}

.menu{
  background-color: var(--second-color);
  width: 100vw;
  height: 400px;
  font-size: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: var(--heiht-header);
  left: 0;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.menu a{
  text-align: center;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--first-color);
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.menu a:hover{
  background-color: var(--first-color);
  color: var(--second-color);
}

.redes{
  display: flex;
  gap: 1rem;
}

.redes a{
  object-fit: cover;
}

.sec-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-services{
  color: var(--text-color);
  width: 80%;
  padding: 1rem;
  font-size: 150%;
  text-align: center;
  border-bottom: 2px solid var(--first-color);
}

.tittle-skills{
  width: 90%;
  padding: 1rem;
  text-align: center;
  font-size: 150%;
  color: var(--text-color);
  border-bottom: 2px solid var(--first-color);
}

.text-skills{
  color: var(--text-color);
  width: 90%;
  text-align: justify;
}


@media (min-width: 744px){

  .container-btn-skills{
    grid-template-columns: repeat(5, 1fr);
  }

  .container-card-services{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .card-contact{
    width: 39rem;
    height: 10rem;
    padding: 2rem;
  }

  .card-project{
    flex-direction: row;
  }

  .card-project:hover{
    width: 25rem;
    height: 15rem;
    padding: 1rem;
  }

  .form-contact{
    width: 39rem;
    height: 23rem;
  }
}

@media screen and (min-width: 1024px){

  .about{
    max-width: 1280px;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-menu{
    display: none;
  }

  .card-contact{
    width: 18rem;
    height: 6rem;
    padding: 1rem;
  }

  .container-about{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-items: center;
  }

  .container-about .sec-skills{
    grid-column: span 2;
  }

  .container-btn-skills{
    grid-template-columns: repeat(5, 1fr);
  }

  .container-card-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: flex-start;
  }

  .card-project{
    flex-direction: column;
  }

  .card-project:hover{
    width: 14rem;
    height: 20rem;
    padding: 0.2rem;
    border-radius: 10px;
  }

  .contact{
    max-width: 1280px;
  }

  .container-card-services{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
  }

  .container-datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-skills{
    width: 80%;
    overflow-x: hidden;
    border-radius: 8px;
  }

  .form-contact{
    width: 56rem;
    height: 23rem;
  }

  .form-contact .input{
    width: 49%;
    margin-right: 0.4rem;
  }

  .header{
    height: 4rem;
    position: fixed;
    top: 0;
  }

  .header h2{
    font-size: 2.1rem;
  }

  .header p{
    font-size: 1.1rem;
  }

  .home-title{
    font-size: 5vw;
  }

  .logo-git{
    width: 40px;
    height: 40px;
  }

  .menu{
    background-color: transparent;
    width: 37rem;
    height: auto;
    padding: 0 1rem;
    position: static;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a:hover{
    background-color: transparent;
  }

  .projects{
    max-width: 1280px;
  }

  .sec-skills{
    width: 60%;
  }

  .service{
    max-width: 1280px;
  }
}



